<%= form_with model: submission, local: true, class: "mb-5" do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :html, "HTML" %>
    <%= form.text_area :html, id: :submission_html, class: "form-control form-control-lg", rows: 6, disabled: submission.id.present? %>
  </div>

  <div class="form-group">
    <%= form.label :base_url, "Base URL" %>
    <%= form.text_field :base_url, id: :submission_base_url, class: "form-control form-control-lg", disabled: submission.id.present? %>
  </div>

  <% unless action_name == "new" %>
    <div class="form-group">
      <%= form.label :json, "JSON" %>
      <%= form.text_area :json, id: :submission_json, class: "form-control form-control-lg", rows: 10, disabled: submission.id.present? %>
    </div>
  <% end %>

  <% if submission.id.blank? %>
    <div class="form-check">
      <label class="form-check-label">
        <%= form.label :save_html do %>
          <%= form.check_box :save_html, id: :submission_save_html, class: "form-check-input" %>
          Save HTML?
        <% end %>
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <%= form.label :render_html_in_page do %>
          <%= form.check_box :render_html_in_page, id: :submission_render_html_in_page, class: "form-check-input" %>
          Render HTML in Page?
        <% end %>
      </label>
    </div>

    <div class="actions">
      <%= form.submit "Parse", class: "btn btn-lg btn-success" %>
    </div>
  <% end %>

<% end %>
