<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @submission.url %>
</p>

<p>
  <strong>Html:</strong>
  <%= @submission.html %>
</p>

<p>
  <strong>Base url:</strong>
  <%= @submission.base_url %>
</p>

<p>
  <strong>Save html:</strong>
  <%= @submission.save_html %>
</p>

<p>
  <strong>Render html in page:</strong>
  <%= @submission.render_html_in_page %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
