<!DOCTYPE html>
<html>
  <head>
    <title>Microformats Parser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <main class="container">

      <% if notice.present? %>
        <div class="alert alert-info mt-5" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <h1 class="mt-5 mb-3">
        <%= link_to_unless_current "Microformats Parser (Ruby) #{Microformats::VERSION}", root_path %>
      </h1>

      <%= yield %>

      <footer class="mb-5">
        <ul>
          <li><a href="https://indieweb.org/microformats">About Microformats</a></li>
          <li><a href="https://github.com/indieweb/microformats-ruby-parser-website">Source code for this website</a></li>
          <li><a href="https://github.com/indieweb/microformats2-ruby">Source code for the Microformats Ruby Parser</a></li>
          <li>
            Other Microformats Parser websites:
            <a href="http://pin13.net/mf2/" title="Microformats Parser">PHP</a>,
            <a href="https://glennjones.net/tools/microformats/">Node</a>,
            <a href="https://willnorris.com/api/microformats/python">Python</a>,
            <a href="https://willnorris.com/go/microformats/live">Go</a>
          </li>
        </ul>
      </footer>

    </main>
  </body>
</html>
